
<form class="text-center" method="POST" action="login">
    <div class="form-group row">
        <label for="inpLoginId" class="col-sm-2 col-form-label">Usuário</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" id="inpLoginId" placeholder="Login">
        </div>
    </div>
    <div class="form-group row">
        <label for="inpSenha" class="col-sm-2 col-form-label">Senha</label>
        <div class="col-sm-6">
        <input type="password" class="form-control" id="inpSenha" placeholder="Senha">
        </div>
    </div>
    
    
    <div class="form-group row">
        <div class="col-sm-6 text-center">
            <button type="submit" class="btn btn-primary" id="btnEntrar" name="btnEntrar">Entrar</button>
            {{!-- <button type="submit" class="btn btn-primary" id="btnCadastrar" name="btnCadastrar">Cadastrar</button> --}}
        </div>

        
    </div>
</form>
   