@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*{
    padding: 0;
    margin: 0;
    list-style: 0;
    outline: 0;
    border: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}

body{
    background: #9C9C9C;
}
/*
* login page
* ===========================
*/
div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 300px);
    height: 100%;
    background-image: url(../assets/images/login-background.jpg);
    background-size: cover;
}

section#conteudo-view{
    position: absolute;
    right: 0;
    float: right;
    width: 300px;
    height: 100%;
    background: #6324f6;
    padding: 20px;
}

section#conteudo-view h1{
    font: 3em 'Fredoka One', cursive;
    color: white;
    float: left;
    width: 100%;
    margin-top: 50px;
}

section#conteudo-view h3{
    font: .8em 'Fredoka One', cursive;
    color: white;
    float: left;
    width: 100%;
}

section#conteudo-view h3,
section#conteudo-view form p{
    font: .8em 'Fredoka One', cursive;
    color: white;
    float: left;
    width: 100%;
}

section#conteudo-view form,
section#conteudo-view form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

section#conteudo-view form{
    margin-top: 40px;
}

section#conteudo-view form p{
    font-size: 1.25em;
}

section#conteudo-view form input[type="submit"],
section#conteudo-view form label input{
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 2px solid #52ca9b;
    color: #959595;
    font: 1em 'Arial';
}

section#conteudo-view form input[type="submit"]{
    background: yellow;
    text-align: center;
    font: 1em 'Fredoka One', cursive;
    width: 60%;
    float: right;
    color: #6324f6;
}

/*menu*/
#nav-principal{
    border-radius: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mrg{
    margin-top: 10px;
}
#btn-delete{
    right: 0;
}


#nav-principal ul{
    list-style-type: none;
}

/*table*/
#table{
    left: 0px;
    right: 0px;
}

/*cadastro*/
#cadastro-view{
    padding-top: 25px;
    padding-left: 25px;
    float: left;
    width: 100%;
    /* background: #52ca9b; */
}

#cadastro-view label{
    float: left;
    width: 49%;
    height: 60px;
    margin-bottom:  20px;
}

#cadastro-view label:nth-last-of-tyep(odd){
    margin-left: 2%;
}

#cadastro-view label span{
    padding-left: 5px;
    float: left;
    width: 100%;
    font: 400 .75em 'Arial';
    color: #c7c7c7;
    padding-bottom: 5px;
}

#cadastro-view label input{
    padding-left: 7px;
    float: left;
    color: #5c5c5c;
    font: 400 1.25em 'Arial';
    /* background: transparent; */
    border-radius: 11px;
}

#cadastro-view label.submit{
    background: #0ad181;
    border-color: #0aaa67;
    border-radius: 12px;
    width: 80px;
    height: 50px;
}

#cadastro-view label.submit input{
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50px;
    color: #f9f9f9;
    background: #0ad181;
}

#zemis{
    font-size: 60px;
}

#cadastre{
    padding-bottom: 50px;
}